@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.container {
  margin: auto 20px;
}

.App {
  /* font-family: sans-serif; */
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

.main .graph-container {
  display: flex;
  justify-content: space-between;
}

.graph {
  width: 50%;
  height: 80vh;
}
.nodes-display {
  width: 40%;
  height: 40vh;
}
